<ul class="nav justify-content-center bg-light text-white">
  <li class="nav-item">
    <%= link_to "Back", :back, class: "nav-link" %>
  </li>
</ul>
<h3 class="fs-2 p-3 container mt-2 p-2 bio"> Create Your Post</h3>
<div>
  <%= render "post_form" %>
</div>
