/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.user_wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.display {
  color: #222;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 20px;
}

.user_list {
  padding: 10px;
  border: 2px solid #333;
  width: 100%;
}

.num_post {
  align-self: flex-end;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bio {
  width: 70%;
}

.button {
  width: 10%;
  text-align: center;
}

.msg {
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
}

img {
  width: 145px;
  height: 145px;
}
